/*基本默认值*/
html{
    font-size: 62.5%;
    color: #222;
}
body{
    background-color: #f7f7f7;
}
::selection{
    color: #fff;
    background-color: #6699cc;
}
::-moz-selection{
    color: #fff;
    background-color: #6699cc;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #5c5c8a;
}
a:hover,a:visited,a:link{
    text-decoration: none;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
header{
    border-bottom: 1px solid #ccc;
}
.nav-top-back{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
.nav-top{
    width: 70%;
    margin: 0 auto;
    height: 3.1em;
}
.logo{
    float: left;
}
.nav-top ul {
    float: right;
}
.nav-top ul li{
    float: left;
    font-size: 1.2em;
    line-height: 2.8em;
    padding-right: 1em;
    font-weight: bold;
}
.nav-top ul li a{
    color: #555;
}

/*导航响应式 S*/
@media only screen and (max-width:768px) {
  .logo{
      display: none;
  }
  .nav-top{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .nav-top-back{
      background-color: rgba(255,255,255,0.5);
  }
  .nav-top ul{
      width: 100%;
  }
  .nav-top ul li{
      width: 25%;
      text-align: center;
  }
}
/*导航响应式 E*/

/*导航CSS*/
.jumu{
    height: 29.8em;
    background-image: url('../img/VCG41645973047.jpg');
}

/*巨幕响应式 S*/
@media only screen and (max-width:768px) {
  .jumu{
      height: auto;
      background-image: none;
  }
  header{
      border-bottom: none;
  }
}
/*巨幕响应式 E*/

.main{
    width: 75%;
    margin: 0 auto;
    padding: 2em 4em;
}
.ltd{
    width: 95%;
    margin: 0 auto;
    margin-top: 2em;
}
.main h1{
    font-weight: bold;
    color: #555;
}
.ltd .ltd-p{
    font-size: 1.4em;
    line-height: 1.6em;
    color: #555;
    width: 95%;
    margin: 0 auto;
}
tbody tr:hover{
    background-color: #eee;
}

/*主体响应式 S*/
@media only screen and (max-width:768px) {
  .main{
      width: 95%;
      margin: 0 auto;
      padding: 1em;
  }
  .ltd{
      margin-top: 0;
  }
  .ltd .ltd-p{
      font-size: 1.1em;
      line-height: 1.4em;
      color: #555;
      width: 100%;
      margin: 0 auto;
  }
  .ltd h3{
      font-size: 1.4em;
  }
  .main h1{
      font-size: 1.8em;
      margin: 0.382em;
  }
}
/*主体响应式 E*/

/*页脚*/
.footer{
    background:#333;
    color: #ccc;
    padding: 2em;
    font-size: 1.2em;
    height:
}
.footer-context{
    width: 100%;
    box-sizing: border-box;
}
.wechat{
    width: 40%;
    box-sizing: border-box;
    float: left;
    margin-top: 2em;
    padding-right: 4em;
    text-align: right;
}
.footer-right{
    width: 60%;
    box-sizing: border-box;
    float: right;
    padding-left: 2em;
    border-left: 1px solid #666;
}
.footer-right ul{
  font-size: 0.8em;
}
.lxfs{
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
.icp{
    display: block;
    background: #222;
    text-align: center;
}
.icp p,.icp a{
    color: #ccc;
}
/*页脚响应式S*/
@media only screen and (max-width:768px) {
  .wechat{
      display: none;
  }
  .footer-right{
      width: 90%;
      padding-left: 0;
      border-left: none;
  }
}
/*页脚响应式E*/
