/*基本默认值*/
html{
    font-size: 62.5%;
    color: #222;
}
body{
    background-color: #f7f7f7;
}
::selection{
    color: #fff;
    background-color: #6699cc;
}
::-moz-selection{
    color: #fff;
    background-color: #6699cc;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #5c5c8a;
}
a:hover,a:visited,a:link{
    text-decoration: none;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
header{
    border-bottom: 1px solid #ccc;
}
.nav-top-back{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
.nav-top{
    width: 70%;
    margin: 0 auto;
    height: 3.1em;
}
.logo{
    float: left;
}
.nav-top ul {
    float: right;
}
.nav-top ul li{
    float: left;
    font-size: 1.2em;
    line-height: 2.8em;
    padding-right: 1em;
    font-weight: bold;
}
.nav-top ul li a{
    color: #666;
}
/*导航响应式 S*/
@media only screen and (max-width:768px) {
  .logo{
      display: none;
  }
  .nav-top{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .nav-top-back{
      background-color: rgba(255,255,255,0.5);
  }
  .nav-top ul{
      width: 100%;
  }
  .nav-top ul li{
      width: 25%;
      text-align: center;
  }
}
/*导航响应式 E*/
/*导航CSS*/
.jumu{
    height: 29.8em;
    background-image: url('../img/VCG41645973047.jpg');
}
/*巨幕响应式 S*/
@media only screen and (max-width:768px) {
  .jumu{
      height: auto;
      background-image: none;
  }
  header{
      border-bottom: none;
      background-color: #;
  }
}
/*巨幕响应式 E*/

.main ul{
    width: 70%;
    margin: 0 auto;
}
.main ul li{
    width: calc(16.6666%);
    text-align: center;
}
.main ul li a{
    font-size: 1.2em;
    font-weight: bold;
}
.main h2{
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #666;
}
.product{
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}
.carousel-inner{
    width: 70%;
    margin: 0 auto;
}
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
.product-img{
    width: calc(33.33333% - 1em);
    float: left;
    margin: 0.5em;
    height: auto;
    border-radius: 5px 5px 5px;
}
.product-img h3{
    text-align: center;
}
.product img{
    width: 100%;
}
.product-date{
    padding: 0.5em;
}
.product-date p{
    float: left;
    width: auto;
    font-weight: bold;
    color: #555;
}
.product-date .btn{
    float: right;
    width: auto;
}
.product-modal p{
    display: inline-block;
    margin: 0 2em;
    line-height: 1.6em;
    font-size: 1.6em;
    color: #555;
    font-family: '微软雅黑';
}
@media only screen and (max-width:768px) {
  .main ul{
      width: 95%;
      margin: 0 auto;
  }
  .main ul li a{
      font-size: 1em;
  }
  .product{
      width: 100%;
      margin: 0 auto;
      padding: 0;
  }
  .carousel-inner{
      width: 95%;
      margin: 0 auto;
  }
  .product-img h3{
      text-align: center;
      font-size: 1em;
  }
}
/*页脚*/
.footer{
    background:#333;
    color: #ccc;
    padding: 2em;
    font-size: 1.2em;
    height:
}
.footer-context{
    width: 100%;
    box-sizing: border-box;
}
.wechat{
    width: 40%;
    box-sizing: border-box;
    float: left;
    margin-top: 2em;
    padding-right: 4em;
    text-align: right;
}
.footer-right{
    width: 60%;
    box-sizing: border-box;
    float: right;
    padding-left: 2em;
    border-left: 1px solid #666;
}
.footer-right ul{
  font-size: 0.8em;
}
.lxfs{
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
.icp{
    display: block;
    background: #222;
    text-align: center;
}
.icp p,.icp a{
    color: #ccc;
}
/*页脚响应式S*/
@media only screen and (max-width:768px) {
  .wechat{
      display: none;
  }
  .footer-right{
      width: 90%;
      padding-left: 0;
      border-left: none;
  }
}
/*页脚响应式E*/
