/*基本默认值*/
html{
    font-size: 62.5%;
    color: #222;
}
body{
    background-color: #f7f7f7;
}
::selection{
    color: #fff;
    background-color: #6699cc;
}
::-moz-selection{
    color: #fff;
    background-color: #6699cc;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #5c5c8a;
}
a:hover,a:visited,a:link{
    text-decoration: none;
}
/*清除浮动*/
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
/*导航条*/
header{
    background-color: #eee;
    height: 3.1em;
}
.nav-top-back{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
.nav-top{
    width: 70%;
    margin: 0 auto;
    height: 3.1em;
}
.logo{
    float: left;
}
.nav-top ul {
    float: right;
}
.nav-top ul li{
    float: left;
    font-size: 1.2em;
    line-height: 2.8em;
    padding-right: 1em;
    font-weight: bold;
}
.nav-top ul li a{
    color: #555;
}
/*导航CSS E*/
.main h1{
    color: #555;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2.2em;
    margin-top: 3em;
}
.main p.wefor{
    color: #555;
    width: 70%;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 1.6em;
    line-height: 1.6em;
    border-bottom: 1px solid #ccc;
}
/*证书 S*/
.quali-test h2{
    color: #555;
    text-align: center;
}
.quali-test{
    width: 100%;
    padding: 2em;
}
.quali-test-img{
    width: 75%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2em;
}
.quali-test-img:nth-child(3){
    border-bottom: 1px solid #ddd;
}
.quali-test-img img{
    width: 42%;
    height: 29em;
    float: left;
    box-sizing: border-box;
    margin: 0 3em;
}
.quali h2{
    text-align: center;
    color: #555;
}
.quali-content{
    width: 45%;
    margin: 2em auto;
    display: block;
    height: auto;
}
.quali-content img{
    width: 20em;
    box-sizing: border-box;
    float: left;
    height: 16em;
}
.quali-content p{
    float: left;
    height: auto;
    line-height: 8em;
    padding-left: 5em;
    font-size: 1.6em;
}
/*证书 E*/
/*页脚*/
.footer{
    background: #333;
    color: #ccc;
    padding: 2em;
    font-size: 1.2em;
    height:
}
.footer-context{
    width: 100%;
    box-sizing: border-box;
}
.wechat{
    width: 40%;
    box-sizing: border-box;
    float: left;
    margin-top: 2em;
    padding-right: 4em;
    text-align: right;
}
.footer-right{
    width: 60%;
    box-sizing: border-box;
    float: right;
    padding-left: 2em;
    border-left: 1px solid #666;
}
.footer-right ul{
  font-size: 0.8em;
}
.lxfs{
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
.icp{
    display: block;
    background: #222;
    text-align: center;
}
.icp p,.icp a{
    color: #ccc;
}
/*页脚响应式S*/
@media only screen and (max-width:768px) {
  .wechat{
      display: none;
  }
  .footer-right{
      width: 90%;
      padding-left: 0;
      border-left: none;
  }
}
/*页脚响应式E*/
